{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Take a picture</h5>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <video id="video" width="320" height="240" autoplay></video>
                        <br>
                        <button id="snap" class="btn btn-primary">Take Picture</button>
                    </div>
                    <canvas id="canvas" width="320" height="240" style="display:none"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Prediction</h5>
                </div>
                <div class="card-body">
                    <form id="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" id="result" class="form-control" placeholder="Result" disabled>
                        </div>
                        <div class="form-group">
                            <img id="img" src="" alt="" style="display:none">
                            <input type="hidden" name="img" id="img-data" value="">
                        </div>
                        <button type="submit" id="predict-btn" class="btn btn-primary">Predict</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
